header {
    height: 80px;
    background-color: grey;
    display: flex;
    align-items: center;
}

nav{
    display: flex;
    width: 100%;
}


li {
    list-style: none;
    padding: 10px;

}


#header-right {
    display: flex;
    width: 20%;
    align-items: center;
}


#header-left {
    display: flex;
    justify-content: flex-end;
    width: 80%;
}


#header-left ul {
    display: flex;

}

#header-left img {
    margin-right: 10px;
}


.hover-orange:hover {
    background-color: rgba(255, 166, 0, 0.151);
    cursor: pointer;
    border-radius: 50%;
}


#main-top {

    background-image: url("https://checkmybags.netlify.app/static/media/brand.d0d76eb4.bin");
    height: 385px;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

}

h1 { 
    background-color: rgba(255, 255, 255, 0.347)
  
}


#category-header{
    display: flex;
}

#see-more {
    display: flex;
    WIDTH: 100%;
    justify-content: flex-end;
}

#products-carousel {
    display: flex;
    overflow: scroll;

    
}

.product-card {
    margin: 10px;
}


.product-card-image{
    height: 600px;
    width: 500px;
    /* overflow: hidden; */
}


.product-card img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}


.product-card-info{
    text-align: center;
}


#product-highlight-header{
    display: flex;
    justify-content: space-between;
    
}

#product-highlight-container{
    background-color: grey;
}


#product-highlight-header h4 {

    background-color: rgb(162, 139, 36);

}


#item-container {
    display: flex;
    flex-wrap: wrap;
}

.item-card  {
    width: 50%;
}



